body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.resp-main{
  display:flex;
  flex-direction:row;
  
}
.resp-main form{
  max-height: 310px; 
}
.formMain{
  max-height: 475px !important; 
}




@media (max-width: 767px) {
  .resp-main{
    justify-content: center;
    align-content: center;
    flex-direction:column;
  }
  .resp-main form{
      width:80% !important;
  }
  .cuerpo{
      width: 90% !important;
      margin:0 1rem 0 0  !important;
  }
}